.idea/
*.zip
tmp/
data/
*/desktop.ini
snapshotV2kotlin/*.zip
snapshotV2kotlin/order/orderdb/
snapshotV2kotlin/inventory/invdb/
snapshotV2kotlin/tmp/
snapshotV2kotlin/product/productdb/
archiV1java/gateway/docker/tempo/tempo-data/